.heading{
    font-size: 23px;
    width: 100%;
    margin:0px;
}
.note{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
}
.song{
    font-size: 20px;
    margin-top: 5px;
}
.play_btn{
    width: 130px;
    font-size: 25px;
}
canvas{
    animation-name: border;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes border{
    from{box-shadow :1px 1px 38px palegoldenrod;}
    to{box-shadow :1px 1px 38px salmon;}
}